.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    position: relative;
}
.result_container {
    flex-grow:1;
    display: flex;
    align-items: flex-end;
    position: absolute;
}
.result_console{
    width: 100%;
    padding: 0 8px;
    height: 40%;
    text-align: right;
    color: #FFFFFF;
    font-size: 40px;
}
.calculate_keyboard_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 8px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1%;
}
.calculate_keyboard_horizontal {
    width: 100%;
    display: flex;
}
.calculate_keyboard{
    align-items: center;
    justify-content: center;
}
.calculate_keyboard_text{
    width: 25%;
    aspect-ratio:1;
    border: .2px solid #000;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.calculate_keyboard_text_special{
    width: 50%;
    aspect-ratio: 2;
}

.blackText{
    color: #000000;
}
.whiteText{
    color: #FFFFFF;
}
.orangeBg{
    background-color: #FFF67105;
}
.orangeBg:hover{
    opacity: .5;
}
.blackBg {
    background-color: #dd322e2e;
}
.blackBg:hover {
    background-color: #666666;
}
.greyBg {
    background-color: #cccccc;
}
