.container {
    justify-content: flex-start;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.title-div{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.button-div{
    justify-content: center;
    height: 100px;
}
.button{
    margin: 10px;
    font-size: 22px;
    background-color: #e9e9e9;
    text-color: black;
    width: 180px;
    text-align: center;
    height: 120px;
}
.image-div{
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.image{
    width: 576px;
    height: 432px;
}