.container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 1);
}

.device-image {
    width: 152px;
    height: 152px;
    margin-top: 24px;
}

.progress {
    font-size: 18px;
    text-color: #FF000000;
    text-align: center;
    margin-top: 16px;
}

.desc {
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin-top: 2px;
    margin-left: 24px;
    margin-right: 24px;
}

.button {
    width: 100%;
    height: 22px;
    font-size: 16px;
    text-color: #358CFD;
    background-color: transparent;
    margin: 24px;
}